# DataBase
DB_HOST=localhost
DB_PORT=5432
DB_DBNAME=mydb
DB_USER=myuser
DB_PASSWORD=secret
DB_SQL_FILES_PATH=sql/work

# Yandex Geocoder
YANDEX_GEOCODER_API_KEY=***
YANDEX_GEOCODER_BASE_URL=https://geocode-maps.yandex.ru/v1
YANDEX_GEOCODER_TIMEOUT=10
YANDEX_GEOCODER_LANG=ru_RU
YANDEX_GEOCODER_RETRIES=1
YANDEX_GEOCODER_RETRY_DELAY=1

# Custom ENV
ENV_PATH=